#header {
    -fx-spacing: 10;
    -fx-alignment: left;
    -fx-padding: 0 0 20 0;
}

#header .label {
    -fx-padding: 5 0 0 0;
}

#textField .button:hover {
    -fx-background-color: lightblue;
}

#footerLabel {
    -fx-padding: 10 0 0 0;
}